In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
heart_disease = pd.read_csv('heart-disease.csv')

In [3]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
X = heart_disease.drop('target', axis = 1)
y = heart_disease['target']

In [5]:
# Choose the right estimator
from sklearn.ensemble import RandomForestClassifier

In [6]:
clf = RandomForestClassifier()

In [7]:
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [8]:
# Fit the model to the training data
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [11]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2
255,45,1,0,142,309,0,0,147,1,0.0,1,3,3
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3
84,42,0,0,102,265,0,0,122,0,0.6,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3
216,62,0,2,130,263,0,1,97,0,1.2,1,1,3
222,65,1,3,138,282,1,0,174,0,1.4,1,1,2
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2

In [12]:
y_test

20     1
162    1
255    0
240    0
84     1
      ..
149    1
236    0
216    0
222    0
119    1
Name: target, Length: 61, dtype: int64

In [13]:
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1], dtype=int64)

In [14]:
y_test

20     1
162    1
255    0
240    0
84     1
      ..
149    1
236    0
216    0
222    0
119    1
Name: target, Length: 61, dtype: int64

In [15]:
clf.score(X_train, y_train)

1.0

In [16]:
clf.score(X_test, y_test)

0.8524590163934426

In [17]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [18]:
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.88      0.79      0.84        29
           1       0.83      0.91      0.87        32

    accuracy                           0.85        61
   macro avg       0.86      0.85      0.85        61
weighted avg       0.86      0.85      0.85        61

In [19]:
print(confusion_matrix(y_test,y_preds ))

[[23  6]
 [ 3 29]]

In [20]:
accuracy_score(y_test, y_preds)

0.8524590163934426

In [21]:
# Improve the model
np.random.seed(100)
for i in range(10,100,10):
    print(f'Trying model with {i} estimators')
    clf = RandomForestClassifier(n_estimators= i).fit(X_train, y_train)
    print(f'Model accuracy on test set: {clf.score(X_test, y_test)*100:.2f}%')
    print('\n')

Trying model with 10 estimators
Model accuracy on test set: 80.33%


Trying model with 20 estimators
Model accuracy on test set: 91.80%


Trying model with 30 estimators
Model accuracy on test set: 88.52%


Trying model with 40 estimators
Model accuracy on test set: 83.61%


Trying model with 50 estimators
Model accuracy on test set: 86.89%


Trying model with 60 estimators
Model accuracy on test set: 90.16%


Trying model with 70 estimators
Model accuracy on test set: 86.89%


Trying model with 80 estimators
Model accuracy on test set: 83.61%


Trying model with 90 estimators
Model accuracy on test set: 86.89%

In [22]:
# save the model
import pickle 

pickle.dump(clf, open('GKP_Random_Forest_Classifier_1.pkl','wb'))

In [23]:
loaded_model = pickle.load(open('GKP_Random_Forest_Classifier_1.pkl', 'rb'))

In [24]:
loaded_model.score(X_test, y_test)

0.8688524590163934